# mysqldumpserver connection properties
dbtype=<%= @db_type %>
dburl=<%= @db_url %>
username=<%= @db_user %>
password=<%= @db_password %>
dbname=<%= @db_name %>
host=<%= @db_host %>
runid=<%= @run_id %>