#!/bin/bash
#set -x
INSTALL_USER=<%= @install_user %>
VERSION=<%= @version %>
export PAASAGE_CONFIG_DIR=/etc/paasage
CURRENT_STEP=$1
RUN_ID=$2
echo "value CURRENT_STEP=$CURRENT_STEP"
echo "value MODEL_FILE_NAME=$MODEL_FILE_NAME"
echo "value RUN_ID=$RUN_ID"
if [ "z$CURRENT_STEP" = "z" ]
then
CURRENT_STEP=ALL
fi

FLEXIANT_PROVIDER_MODEL_FULL_FILENAME=/tmp/${RUN_ID}_flexiant_cloudprovider_model.xmi
OMISTACK_PROVIDER_MODEL_FULL_FILENAME=/tmp/${RUN_ID}_omistack_cloudprovider_model.xmi
AMAZONEC2_PROVIDER_MODEL_FULL_FILENAME=/tmp/${RUN_ID}_amazonec2_cloudprovider_model.xmi
GWDG_PROVIDER_MODEL_FULL_FILENAME=/tmp/${RUN_ID}_gwdg_cloudprovider_model.xmi

MODEL_FULL_FILE_NAME=/tmp/${RUN_ID}_application_model.xmi
CAMEL_MODEL_ID=CAMEL_${RUN_ID}
DEPLOYMENT_MODEL_ID=DEPLOY_${CAMEL_MODEL_ID}
CP_MODEL_ID_FULL_FILE_NAME=/tmp/${RUN_ID}-CP_OUTPUT_MODEL_ID
RP_MODEL_ID_FULL_FILE_NAME=/tmp/${RUN_ID}-RP_OUTPUT_MODEL_ID
CHOSEN_SOLVER_FULL_FILE_NAME=/tmp/${RUN_ID}-CHOOSEN_SOLVER

#MODEL_URL=http://jenkins.paasage.cetic.be/job/USE_CASES/lastSuccessfulBuild/artifact/target/$MODEL_FILE_NAME
BASE_DIR=/home/$INSTALL_USER

if [ -e "$CP_MODEL_ID_FULL_FILE_NAME" ]
then
  CP_MODEL_ID=$(cat $CP_MODEL_ID_FULL_FILE_NAME)
else
  CP_MODEL_ID=NaN
fi

if [ -e "$RP_MODEL_ID_FULL_FILE_NAME" ]
then
  RP_MODEL_ID=$(cat $RP_MODEL_ID_FULL_FILE_NAME)
else
  RP_MODEL_ID=$CP_MODEL_ID
fi


# Step 1: Download model and load models into CDO server
if [ "z$CURRENT_STEP" = "zSTEP_1" -o "z$CURRENT_STEP" = "zALL" ]
then

#  rm -f $MODEL_FULL_FILE_NAME
#  wget --output-document=$MODEL_FULL_FILE_NAME $MODEL_URL

  echo "Loading Application model"
  pushd $BASE_DIR/init/app
    java -jar init-$VERSION-jar-with-dependencies.jar  $MODEL_FULL_FILE_NAME  $CAMEL_MODEL_ID
  popd
  echo "Application model loaded."

  if [ -e "$FLEXIANT_PROVIDER_MODEL_FULL_FILENAME" ]
  then
    echo "Loading Flexiant Cloud provider model"
    pushd $BASE_DIR/init/app
      java -jar init-$VERSION-jar-with-dependencies.jar  $FLEXIANT_PROVIDER_MODEL_FULL_FILENAME  upperware-models/fms/Flexiant
    popd
    echo "Flexiant Cloud provider model loaded."
  fi

  if [ -e "$GWDG_PROVIDER_MODEL_FULL_FILENAME" ]
  then
    echo "Loading GWDG Cloud provider model"
    pushd $BASE_DIR/init/app
      java -jar init-$VERSION-jar-with-dependencies.jar  $GWDG_PROVIDER_MODEL_FULL_FILENAME  upperware-models/fms/GWDG
    popd
    echo "GWDG Cloud provider model loaded."
  fi

  if [ -e "$AMAZONEC2_PROVIDER_MODEL_FULL_FILENAME" ]
  then
    echo "Loading GWDG Cloud provider model"
    pushd $BASE_DIR/init/app
      java -jar init-$VERSION-jar-with-dependencies.jar  $AMAZONEC2_PROVIDER_MODEL_FULL_FILENAME  upperware-models/fms/AmazonEC2
    popd
    echo "AmazonEC2 Cloud provider model loaded."
  fi

  if [ -e "$OMISTACK_PROVIDER_MODEL_FULL_FILENAME" ]
  then
    echo "Loading OMISTACK Cloud provider model"
    pushd $BASE_DIR/init/app
      java -jar init-$VERSION-jar-with-dependencies.jar  $OMISTACK_PROVIDER_MODEL_FULL_FILENAME  upperware-models/fms/Omistack
    popd
    echo "OMISTACK Cloud provider model loaded."
  fi

  pushd $BASE_DIR/init/app
    /etc/paasage/mysqldump.sh  $RUN_ID $CURRENT_STEP
  popd
  if [ "z$CURRENT_STEP" != "zALL" ]
  then
    exit 0
  else
    echo "Please press any key to continue"
    read
  fi
fi


# Step 2: run wp3_cp_generator
if [ "z$CURRENT_STEP" = "zSTEP_2" -o "z$CURRENT_STEP" = "zALL" ]
then

  pushd $BASE_DIR/generator/app
    java -jar generator-$VERSION-jar-with-dependencies.jar  $CAMEL_MODEL_ID $CP_MODEL_ID_FULL_FILE_NAME
    cat $CP_MODEL_ID_FULL_FILE_NAME
    echo " "
   /etc/paasage/mysqldump.sh  $RUN_ID $CURRENT_STEP
  popd
  #echo "cp generator finished, about to run rule_processor"
  if [ "z$CURRENT_STEP" != "zALL" ]
  then
    exit 0
  else
    echo "Please press any key to continue"
    read
  fi
fi



# Step 3:
if [ "z$CURRENT_STEP" = "zSTEP_3" -o "z$CURRENT_STEP" = "zALL" ]
then
  pushd $BASE_DIR/rule-processor/app
    java -jar rule-processor-$VERSION-jar-with-dependencies.jar  -m $CAMEL_MODEL_ID -c $CP_MODEL_ID -o $RP_MODEL_ID_FULL_FILE_NAME
    /etc/paasage/mysqldump.sh  $RUN_ID $CURRENT_STEP
  popd
  #echo "rule-processor finished, about to run meta_solver"
  if [ "z$CURRENT_STEP" != "zALL" ]
  then
    exit 0
  else
    echo "Please press any key to continue"
    read
  fi
fi


# Step 4:
#=======
if [ "z$CURRENT_STEP" = "zSTEP_4" -o "z$CURRENT_STEP" = "zALL" ]
then
  pushd $BASE_DIR/solvers/app
    java -cp milp-solver-$VERSION-assembly.jar eu.paasage.upperware.milp_solver.exec.HumanCP $RP_MODEL_ID
   /etc/paasage/mysqldump.sh  $RUN_ID $CURRENT_STEP

  popd
  #echo "Ok, about to run the solvers"
  if [ "z$CURRENT_STEP" != "zALL" ]
  then
    exit 0
  else
      echo "Please press any key to continue"
  fi
fi


if [ "z$CURRENT_STEP" = "zSTEP_5" -o "z$CURRENT_STEP" = "zALL" ]
then
  pushd $BASE_DIR/solvers/app

    echo "staring meta solver"
    LD_LIBRARY_PATH=$PWD java -Djava.lib.path=. -jar  meta_solver-$VERSION-jar-with-dependencies.jar  $CAMEL_MODEL_ID $RP_MODEL_ID
   /etc/paasage/mysqldump.sh  $RUN_ID $CURRENT_STEP
    #echo "meta solver finished. ...about to run adaptation_manager"

  popd
  echo "Ok, about to display solver output"
  if [ "z$CURRENT_STEP" != "zALL" ]
  then
    exit 0
  else
      echo "Please press any key to continue"
  fi
fi


if [ "z$CURRENT_STEP" = "zSTEP_6" -o "z$CURRENT_STEP" = "zALL" ]
then
  pushd $BASE_DIR/solvers/app
    java -cp milp-solver-$VERSION-assembly.jar eu.paasage.upperware.milp_solver.exec.ShowVars $RP_MODEL_ID
   /etc/paasage/mysqldump.sh  $RUN_ID $CURRENT_STEP
  popd
  #echo "Ok, about to run solver to deployment"
  if [ "z$CURRENT_STEP" != "zALL" ]
  then
    exit 0
  else
      echo "Please press any key to continue"
  fi
fi

if [ "z$CURRENT_STEP" = "zSTEP_7" -o "z$CURRENT_STEP" = "zALL" ]
then
  pushd $BASE_DIR/solver-to-deployment/app
    java -jar solver-to-deployment-$VERSION-jar-with-dependencies.jar $RP_MODEL_ID $CAMEL_MODEL_ID $CP_MODEL_ID
   /etc/paasage/mysqldump.sh  $RUN_ID $CURRENT_STEP
  popd
  if [ "z$CURRENT_STEP" != "zALL" ]
  then
    exit 0
  else
    echo "Please press any key to continue"
    read
  fi
fi

if [ "z$CURRENT_STEP" = "zSTEP_8" -o "z$CURRENT_STEP" = "zALL" ]
then
  # Step : Adaptation manager
  pushd $BASE_DIR/adaptationmanager/app
    nohup java -jar adaptationmanager-$VERSION-jar-with-dependencies.jar  -cCDO.resourceName=$CAMEL_MODEL_ID >/tmp/adapter-$RUN_ID.log
    echo "Adapter started into background"
    sleep 5
    cat /tmp/adapter.log
   /etc/paasage/mysqldump.sh  $RUN_ID $CURRENT_STEP
  popd
  #echo "adaptation manager finished"
  if [ "z$CURRENT_STEP" != "zALL" ]
  then
    exit 0
  else
    echo "Please press any key to continue"
    read
  fi
fi


if [ "z$CURRENT_STEP" = "zSTEP_9" -o "z$CURRENT_STEP" = "zALL" ]
then
  # Step : Display contents of adapter log file
  cat /tmp/adapter-$RUN_ID.log
  if [ "z$CURRENT_STEP" != "zALL" ]
  then
    exit 0
  else
    echo "Please press any key to continue"
    read
  fi
fi
