#!/bin/sh
# (1) set up all the mysqldump variables
# script is copied by the cookbook template in /etc/paasage
INSTALL_USER=<%=@install_user%>
RUN_ID=$1
CURRENT_STEP=$2
. /etc/paasage/eu.paasage.mddb.mysqldump.server.properties

FILE=paasage-backup.sql.${RUN_ID}-${CURRENT_STEP}

# (2) in case you run this more than once a day, remove the previous version of the file
unalias rm     2> /dev/null
rm ${FILE}     2> /dev/null
rm ${FILE}.gz  2> /dev/null

# (3) do the mysql database backup (dump)
mysqldump --opt --user=$username --password=$password $dbname > ${FILE}

# (4) gzip the mysql database dump file
gzip $FILE
# ls $FILE.gz > id.txt
# mv id.txt /home/ubuntu/webmasterscript/webmasterscript/webmasterscript/static/
cp ${FILE}.gz /home/$INSTALL_USER/webmasterscript/webmasterscript/webmasterscript/static/


# (5) show the user the result
echo "${FILE}.gz was created."
