rabbitmq.hostname=127.0.0.1
rabbitmq.port=5672
rabbitmq.vhost=<%= @rabbitmq_vhost %>
rabbitmq.username=<%= @rabbitmq_user %>
rabbitmq.password=<%= @rabbitmq_password %>
rabbitmq.exchangeType=direct
rabbitmq.durable=true
rabbitmq.autoAck=false
rabbitmq.basicQos=true
rabbitmq.retires=6
rabbitmq.msgmapper=json

frontend.url=http://127.0.01:9000/api
frontend.username=john.doe@example.com
frontend.password=admin

