#!/bin/sh
### BEGIN INIT INFO
# Provides:          execware_backend
# Required-Start:    $local_fs $remote_fs $network $syslog $named
# Required-Stop:     $local_fs $remote_fs $network $syslog $named
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# X-Interactive:     true
# Short-Description: Start/stop cdo_server  application
### END INIT INFO
. /etc/profile.d/jdk.sh
# User running the Play process
RUN_AS=<%= @installation_user %>

# Name of the application
APPLICATION_NAME="<%= @application_name %>"

# Path to the application source
APPLICATION_PATH="<%= @installation_dir %>"

# Pid file path
PID_FILE="/run/paasage/$APPLICATION_NAME.pid"

# options for JAVA VM
VM_OPTIONS="-Xms512M -Xmx1024M -Xss1M "

# Jar File to run
JAR="$APPLICATION_PATH/<%= @jar_file_name %>"

CLASS_PATH="/usr/share/java/commons-daemon.jar:$JAR"
# Main class in jar
MAIN_CLASS=eu.paasage.execware.backend.App

# Arguments for java program
APP_ARGUMENTS=""

# Log filaname
LOG_FILE_NAME="/var/log/paasage/${APPLICATION_NAME}.log"

TMP_DIR=/tmp
. /lib/lsb/init-functions


start() {
echo -n "Starting ${APPLICATION_NAME} service: "
mkdir -p      $(dirname $PID_FILE)
chown $RUN_AS $(dirname $PID_FILE)
mkdir -p      $(dirname $LOG_FILE_NAME)
chown $RUN_AS $(dirname $LOG_FILE_NAME)
PAASAGE_CONFIG_DIR=/etc/paasage /usr/bin/jsvc \
-user $RUN_AS \
-home $JAVA_HOME \
-Djava.io.tmpdir=$TMP_DIR \
-umask 022 -wait 10 \
-pidfile $PID_FILE \
-outfile $LOG_FILE_NAME \
-errfile '&1'  \
-verbose  \
-cp $CLASS_PATH \
$MAIN_CLASS
RETVAL=$?
#
# To get a verbose JVM
# To get a debug of jsvc.
#-debug \

if [ $RETVAL -eq 0 ]; then
log_end_msg 0
else
log_end_msg 1
fi
}

stop() {
/usr/bin/jsvc \
-stop \
-pidfile $PID_FILE \
-cp $CLASS_PATH \
$MAIN_CLASS
RETVAL=$?

if [ $RETVAL -eq 0 ]; then
log_end_msg 0
else
log_end_msg 1
fi
}

case "$1" in
start)
start
;;
stop)
stop
;;
status)
;;
restart)
stop
sleep 5
#if [ $RETVAL -eq 0 ]; then
start
#fi
;;
*)
echo "Usage: $SCRIPTNAME {start|stop|status}" >&2
exit 1
;;
esac

exit 0