[client]
<% if @port %>
    port                           = <%= @port %>
<% end %>
<% if @socket_file %>
    socket                         = <%= @socket_file %>
<% end %>

[mysqld_safe]
socket                         = <%= @socket_file %>
<% if @nice %>
    nice                           = 0
<% end %>

[mysqld]
user                           = mysql
pid-file                       = <%= @pid_file %>
socket                         = <%= @socket_file %>
<% if @port %>
    port                           = <%= @port %>
<% end %>
<% if @basedir %>
    basedir                        = <%= @base_dir %>
<% end %>
<% if @data_dir %>
    datadir                        = <%= @data_dir %>
<% end %>
<% if @tmpdir %>
    tmpdir                         = /tmp
<% end %>
<% if @lc_messages_dir %>
    lc-messages-dir                = <%= @lc_messages_dir %>
<% end %>

[mysql]
<% if @include_dir %>
    !includedir <%= @include_dir %>
<% end %>
