<VirtualHost *:<%= @params[:server_port] || node['apache']['listen_ports'].first %>>
  ServerName <%= @params[:server_name] %>
  <% if @params[:server_aliases] -%>
  ServerAlias <%= @params[:server_aliases].join " " %>
  <% end -%>
  DocumentRoot <%= @params[:docroot] %>

  <Directory <%= @params[:docroot] %>>
    Options <%= [@params[:directory_options] || "FollowSymLinks" ].flatten.join " " %>
    AllowOverride <%= [@params[:allow_override] || "None" ].flatten.join " " %>
  <% if node['apache']['version'] == '2.4' -%>
    Require all granted
  <% else -%>
    Order allow,deny
    Allow from all
  <% end -%>
  </Directory>

  <Directory />
    Options FollowSymLinks
    AllowOverride None
  </Directory>

  <Location /server-status>
    SetHandler server-status

  <% if node['apache']['version'] == '2.4' -%>
    Require local
  <% else -%>
    Order Deny,Allow
    Deny from all
    Allow from 127.0.0.1
  <% end -%>

  </Location>

  RewriteEngine On
  <%- if node['apache']['version'] == '2.4' -%>
  LogLevel info rewrite:trace1
  <%- else -%>
  LogLevel info
  RewriteLog <%= node['apache']['log_dir'] %>/<%= @application_name %>-rewrite.log
  RewriteLogLevel 0
  <%- end -%>

  ErrorLog <%= node['apache']['log_dir'] %>/<%= @params[:name] %>-error.log
  CustomLog <%= node['apache']['log_dir'] %>/<%= @params[:name] %>-access.log combined

  <% if @params[:directory_index] -%>
  DirectoryIndex <%= [@params[:directory_index]].flatten.join " " %>
  <% end -%>

  RewriteCond %{DOCUMENT_ROOT}/system/maintenance.html -f
  RewriteCond %{SCRIPT_FILENAME} !maintenance.html
  RewriteRule ^.*$ /system/maintenance.html [L]
</VirtualHost>
