[program:=<%= @application_name %>]
command=/usr/bin/python <%= @path %>/<%=@application_name%>/<%=@application_name%>/webscript.py
user=<%= @install_user %>
autostart=true
autorestart=true
stderr_logfile=/var/log/<%= @application_name %>.err.log
stdout_logfile=/var/log/<%= @application_name %>.out.log