#!/bin/sh
### BEGIN INIT INFO
# Provides:          <%= @name %>
# Required-Start:    $local_fs $remote_fs $network $syslog $named
# Required-Stop:     $local_fs $remote_fs $network $syslog $named
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# X-Interactive:     true
# Short-Description: Start/stop <%= @name %> application
### END INIT INFO

# User running the Play process
RUN_AS=<%= @install_user %>

# Name of the application
APPLICATION_NAME="<%= @application_name %>"

# Path to the application source
APPLICATION_PATH="<%= @path %>"

# Pid file path
PID_FILE="<%=@pid_file_path%>"

# options for JAVA VM
VM_OPTIONS="<%= @vm_options %>"

# Jar File to run
JAR="<%=@jar%>"

# Main class in jar
MAIN_CLASS="<%=@main_class%>"

# Arguments for java program
APP_ARGUMENTS="<%=@arguments%>"

#
LOG_FILE_NAME="/var/log/paasage/<%= @application_name %>.log"





. /lib/lsb/init-functions


start() {
echo -n "Starting ${APPLICATION_NAME} service: "
  mkdir -p      $(dirname $PID_FILE)
  chown $RUN_AS $(dirname $PID_FILE)
  mkdir -p      $(dirname $LOG_FILE_NAME)
  chown $RUN_AS $(dirname $LOG_FILE_NAME)
  JAVA_COMMAND="PAASAGE_CONFIG_DIR=/etc/paasage exec java -cp $JAR $VM_OPTIONS $MAIN_CLASS $APP_ARGUMENTS"
  start-stop-daemon --start \
                    --quiet \
                    --background \
                    --make-pidfile --pidfile $PID_FILE \
                    --chuid $RUN_AS \
                    --chdir ${APPLICATION_PATH} \
                    --exec /bin/bash -- -c "$JAVA_COMMAND> $LOG_FILE_NAME 2>&1"
  RETVAL=$?

  if [ $RETVAL -eq 0 ]; then
    log_end_msg 0
  else
    log_end_msg 1
  fi
}

stop() {
if [ -f $PID_FILE ]
then
  echo -n "Shutting down ${APPLICATION_NAME} service: ${APPLICATION_PATH}/"
  start-stop-daemon --stop --quiet --pidfile $PID_FILE
  if [ -e $PID_FILE ]
   then rm $PID_FILE
  fi
fi

RETVAL=$?

if [ $RETVAL -eq 0 ]; then
log_end_msg 0
else
log_end_msg 1
fi
}

case "$1" in
start)
start
;;
stop)
stop
;;
status)
;;
restart)
stop
if [ $RETVAL -eq 0 ]; then
start
fi
;;
*)
echo "Usage: $SCRIPTNAME {start|stop|status}" >&2
exit 1
;;
esac

exit 0
