#!/bin/sh
### BEGIN INIT INFO
# Provides:          <%= @name %>
# Required-Start:    $local_fs $remote_fs $network $syslog $named
# Required-Stop:     $local_fs $remote_fs $network $syslog $named
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# X-Interactive:     true
# Short-Description: Start/stop <%= @name %> application
### END INIT INFO

# User running the Play process
USER=<%= @run_as %>

# Name of the application
APPLICATION_NAME="<%= @application_name %>"
# Path to the application source
APPLICATION_PATH="<%= @path %>"
PID_FILE_NAME="<%=@pid_file_name%>"
PID_FILE_DIR="/run/execware"
PID_FILE=$PID_FILE_DIR/$PID_FILE_NAME

mkdir -p $PID_FILE_DIR
chown $USER $PID_FILE_DIR
APP_OPTIONS="<%= @options %>"

. /lib/lsb/init-functions


start() {
echo -n "Starting ${APPLICATION_NAME} service: "
rm -f ${PID_FILE}
su $USER -c "cd ${APPLICATION_PATH}; ./<%= @command %> ${APP_OPTIONS} > /dev/null &"

RETVAL=$?

if [ $RETVAL -eq 0 ]; then
log_end_msg 0
else
log_end_msg 1
fi
}

stop() {
if [ -f $PID_FILE ]
then
echo -n "Shutting down ${APPLICATION_NAME} service: ${APPLICATION_PATH}/"
#su $USER -c "ulimit -n 65536"
su $USER -c "kill -15 `cat $PID_FILE`"
fi

RETVAL=$?

if [ $RETVAL -eq 0 ]; then
log_end_msg 0
else
log_end_msg 1
fi
}

case "$1" in
start)
start
;;
stop)
stop
;;
status)
;;
restart)
stop
if [ $RETVAL -eq 0 ]; then
start
fi
;;
*)
echo "Usage: $SCRIPTNAME {start|stop|status}" >&2
exit 1
;;
esac

exit 0
